PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/stayfit?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=stay-fit-cf70f
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@stay-fit-cf70f.iam.gserviceaccount.com
# Use the PEM format service account private key: "-----BEGIN PRIVATE KEY-----\nMIIEvgI...\n-----END PRIVATE KEY-----\n"
FIREBASE_PRIVATE_KEY="your-firebase-private-key-here"
STORAGE_PATH=./uploads
GOOGLE_CLOUD_VISION_API_KEY=your-vision-api-key
NODE_ENV=development
